
@import "../../variables.scss";
.container{
    height: 100%;
}

.guest{
    text-align: center;
}

.leftside{
    // background-image: url('../../greenbg.png');
    content: "";
    background-color: $main-green;
    background-repeat:repeat-x;
    width: 65%;
    min-height: 1080px;
    z-index: -1;
}

.float-child{
    float: left;
}

.content{
    min-height: 1080px;
    width: 35%;
    float:right;
    padding-top: 15em;
}

.greenbut{
    background-color: $button-green;
    border: none;
    color: $main-white;
    text-align: center;
    border-radius: 12px;
    width: 15em;
    padding: 0.15em;
}

p2{
    font-weight: bold;
}

p1{
    font-weight: 400;
}